.footer {
    background-color: $branded;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        height: 100px;

        @include breakpoint-down(medium) {
            flex-wrap: wrap;
            justify-content: center;
            height: auto;
            padding: 20px 0;
            text-align: center;
        }
    }

    &__copy {
        width: 312px;
        cursor: pointer;

        @include breakpoint-down(xlarge) {
            text-align: center;
        }
    }

    &__social {
        width: 100%;
        justify-content: center;
        margin: 25px 0;
    }
}