// Colors
$white: #ffffff;
$branded: #21062A;
$accent: #5A0D67;
$grey: #C4C4C4;
$black: #2C2B2B;

// Font Sizes 
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.5rem; // 24px
$font-xlg: 2.25rem; // 36px
$font-xxlg: 4.5rem; // 72px